<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>EZBlog</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<!-- 
  <frameset cols="15%,*">
    <frame src="navigation.html" name="navigation"></frame>
    <frame src="gitee/import_url.html" name="workspace"></frame>
  </frameset> -->
<!-- <body>
    <div display:none>
    We are using Node.js <span id="node-version"></span>,
    Chromium <span id="chrome-version"></span>,
    and Electron <span id="electron-version"></span>.
  </div>
  
  <br>
    <br>

    <div class='config'>
      <!-- 配置 - ->
      <span class='config'>MD保存路径</span><input id='my_blog_save_path' value='D:\_ALL\LIFE\blog_save_path\'></input> <button id='my_btn_save_md'>保存网址</button>
      <br>
      <span class='config'>浏览器地址</span><input id='my_url' value="https://blog.csdn.net/kinghzking"></input> <button id='my_btn_load_url'>打开网址</button>
    </div>

    <webview id='my_blog_view' src='https://blog.csdn.net/kinghzking/article/details/104525129' nodeintegration>
        
    </webview>

    <!-- You can also require other files to run in this process - ->
    <script src="./renderer.js"></script>
  </body> -->

<body>

  <div id="app">
    <!-- <p style='display: none;'>{{ message }}</p>
      <button style='display: none;' v-for='item in functions'>{{item.name}}</button> -->
    <ul>
      <li><a href='./_blog2md/blog2md.html'>博客下载为MD文件</a></li>
      <li><a href='./_gitee/import_url.html'>gitee导入仓库</a></li>
      <!-- <li v-for='item in functions'><button @click=nav()>{{item.name}}</button></li> -->
    </ul>
  </div>

</body>

</html>